body{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



header, main, footer{
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
}

section{
    border-radius: 10px;
}

header h2{
    font-weight: bold;
    padding: 5px;
}


header{
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    font-size: 1.8em;
    height: 105px;
    align-items: center;
}


header nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    align-items: center; /* Centra verticalmente los elementos */
}

header nav li {
    margin: 10px 10px;
}

header nav a {
    font-weight: normal;
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    transition: all 0.3s ease;
}

header nav a:hover {
    background-color: #333;
    color: #fff;
}


/** Main  ***/
main section{
    width: 100%;
    
}

.card{
    display: flex;
    width: 100%;
    background-color: aquamarine;
    margin-top: 10px;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

main section .card div{
    height: 100%;
}

.card .imgs{ 
    width: 28%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card .imgs img{ 
    min-height: 95%;
    width: 326px;
}

.card .texts{
    display: flex;
    width: 35%;
    align-items: center;
    flex-wrap: nowrap;
}

.card .texts h2{
    display: none;
}

.card .texts h1{
    margin-left: 20%;
}


.card .texts ul{
    margin-left: 3%;
    font-size: 1.4em;
}

.card .precio{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-around;
}


.card .bottons{
    display: flex;
    width: 12%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 949px) {
    header{
        font-size: 2.4vw;
        height: 69px;
        justify-content: center;
    }

    header nav{
        margin-right: 3%;
    }

    header h2 {
        margin: 0;
        padding: 0;
    }

    header nav{
        padding: 0;
        margin: 0;
        margin-left: 10%;
    }

    header nav ul{
        padding: 0;
        margin: 0;
    }


    main section .card .precio{
        display: none;
    }
    .card div h1{
        background-color: aliceblue;
        font-size: 4vw;
    }

    .card .imgs img {
        /* min-height: 20%; */
        width: 152%;
        margin: 5px;
    }

    .card .texts{
        flex-direction: column;
        font-size: 1.8vw;
    }

    .card .texts h2 {
        display: block;
        margin: 0;
        padding: 0;
        margin-top: 4%;
    }

    .card .texts ul {
        margin: 0;
        padding: 0;
    }


}